negx.jpg filter=lfs diff=lfs merge=lfs -text
negy.jpg filter=lfs diff=lfs merge=lfs -text
negz.jpg filter=lfs diff=lfs merge=lfs -text
posx.jpg filter=lfs diff=lfs merge=lfs -text
posy.jpg filter=lfs diff=lfs merge=lfs -text
posz.jpg filter=lfs diff=lfs merge=lfs -text
irradiance_negx.jpg filter=lfs diff=lfs merge=lfs -text
irradiance_negy.jpg filter=lfs diff=lfs merge=lfs -text
irradiance_negz.jpg filter=lfs diff=lfs merge=lfs -text
irradiance_posx.jpg filter=lfs diff=lfs merge=lfs -text
irradiance_posy.jpg filter=lfs diff=lfs merge=lfs -text
irradiance_posz.jpg filter=lfs diff=lfs merge=lfs -text
